<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Firm</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" >

    <!-- MetisMenu CSS -->
    <link href="@routes.Assets.at("metisMenu/dist/metisMenu.min.css")" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@routes.Assets.at("stylesheets/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("stylesheets/sb-admin-2.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@routes.Assets.at("morrisjs/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
   
   
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            @topBar()
            <!-- left side bar -->
            @leftNav()
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" ng-view class="slide">

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    
    <!-- jQuery -->
    <script src="@routes.Assets.at("bower_components/jquery/dist/jquery.min.js")"></script>
    
    <script src="@routes.Assets.at("bower_components/angular/angular.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-route/angular-route.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-animate/angular-animate.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-resource/angular-resource.min.js")"></script>
    <script src="@routes.Assets.at("bower_components/ng-grid/ng-grid-2.0.14.debug.js")"></script>
    <script src="@routes.Assets.at("bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")"></script>
    <script src="@routes.Assets.at("angularjs/loading-bar.js")"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@routes.Assets.at("metisMenu/dist/metisMenu.min.js")"></script>

    <!-- Morris Charts JavaScript -->
    <script src="@routes.Assets.at("raphael/raphael-min.js")"></script>
    <script src="@routes.Assets.at("morrisjs/morris.min.js")"></script>
<!--    <script src="@routes.Assets.at("javascripts/morris-data.js")"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>
    
    <script src="@routes.Assets.at("bower_components/requirejs/require.js")"></script>
    <script src="@routes.Assets.at("app/requirejs/appFirm-combined.js")"></script>
   
    <script>
    (function(){
        require(['/assets/main.js', function(){

        }]);
    }());
</script>


</body>

</html>